<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiameng.jingxuan.mapper.BannerMapper">
    <resultMap id="BaseResultMap" type="com.jiameng.jingxuan.model.domain.Banner">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="sort" jdbcType="SMALLINT" property="sort"/>
        <result column="link_url" jdbcType="VARCHAR" property="linkUrl"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="platform" jdbcType="SMALLINT" property="platform"/>
        <result column="share_content" jdbcType="VARCHAR" property="shareContent"/>
        <result column="category" jdbcType="SMALLINT" property="category"/>
        <result column="share_status" jdbcType="INTEGER" property="shareStatus"/>
        <result column="share_desc" jdbcType="VARCHAR" property="shareDesc"/>
        <result column="share_link" jdbcType="VARCHAR" property="shareLink"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,
        `name`,
        image_url,
        sort,
        link_url,
        `status`,
        platform,
        share_content,
        category,
        share_status,
        share_desc,
        share_link
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from banner
        where id = #{id,jdbcType=INTEGER}
    </select>

</mapper>